
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
<link href="/static/style.css" rel="stylesheet">
<link href="/static/about.css" rel="stylesheet">
<link href="/static/contact.css" rel="stylesheet">
<!--<link href="/static/social.css" rel="stylesheet">-->

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<style>

</style>
</head>

<body>
  
    
  
    <!-- ***** Welcome Area St-->

<div class="ct-pageWrapper" id="ct-js-wrapper">

<section class="company-heading intro-type" id="parallax-one">  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button> -->
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        &emsp; <a class="navbar-brand" href="http://13.234.30.65/"><span style="font-size: 30px;margin-left:20%">Salliter</span></a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
                      <!-- <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                      </li> -->

                      <!-- <li class="nav-item dropdown">
                            <a  class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href = "#">
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Categories
                                    <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown_target" >
                                    <a class = "dropdown-item" >Link 1</a>
                                    <div class="dropdown-divider"></div>
                                    <a class = "dropdown-item" >Link 2</a>
                                    <a class = "dropdown-item" >Link 3</a>
                            </div>
                      </li>      -->
                      <li class="nav-item active">
                            <a class="nav-link" href="http://13.234.30.65/"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Flight <span class="sr-only">(current)</span></a>
                         </li> 
                         <li class="nav-item active">
                                <a class="nav-link" href="http://13.234.30.65/bus"> &emsp;&emsp; Bus <span class="sr-only">(current)</span></a>
                             </li> 
                     <li class="nav-item active">
                        <a class="nav-link" href="#"> &emsp;&emsp; <span class="blinking">Refer and Earn</span> <span class="sr-only">(current)</span></a>
                     </li> 

                     <li class="nav-item active">
                        <div class="dropdownmore">
                        <a class="nav-link" href="#"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;  <span style="color:white"> More+ </span><span class="sr-only">(current)</span></a>
                        <div class="dropdownmore-content">
                             <a href="#">Fashion</a>
                             <a href="#">Mobile</a>
                             <a href="#">Movies</a>
                        </div>
                      </div>
                     </li>
                     
                     <li class="nav-item active">
                        <a class="nav-link" href="http://13.234.30.65/about" target="_parent"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;  <span >About Us</span> <span class="sr-only">(current)</span></a>
                     </li> 
                    <!--
                     <li class="nav-item active">
                        <div class="dropdownmore">
                        <a class="nav-link" href="#"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;   <span style="color:white"> About</span><span class="sr-only">(current)</span></a>
                        <div class="dropdownmore-content">
                             <a href="#">Company</a>
                             <a href="#">The Team</a>
                             <a href="#">Careers</a>
                             <a href="#">Contact Us</a>
                        </div>
                      </div>
                     </li>
                    -->

                    </ul>
                    <!-- <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form> -->

                    <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item active">
                                    <a class="nav-link" href="#">Sign up <span class="sr-only">(current)</span></a>
                                  </li>
                                  <li class="nav-item active">
                                        <a class="nav-link" href="#">Log in <span class="sr-only">(current)</span></a>
                                      </li>
                          </ul>
                  </div>

                
      </nav>
   <div class="container">

      <div class="row product-title-info">
         <div class="col-md-12">
            <h1>
               About Us
            </h1>
         </div>
      </div>
   </div>
   <div class="parallax" id="parallax-cta" style="background-image:url(/static/img/bg-img/hero.jpg);">
      &nbsp;
   </div>
</section>

<section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
   <div class="container text-center">
      <h2>
         WHAT WE DO 
      </h2>
      <h3>
         @Sallitor
      </h3>
      <div class="container text-center">
         <div class="red-border">
            &nbsp;
         </div>
         <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">
            Sallitor is an Aggrigator platform for Coupons collection and finding the cheapest flight and Bus between any city to city in India realted to Flight and Bus travelling. Along with travelling , its also provide the trending coupon and offers availabe on e-commerce websites such as amazon,flipkart,myntra,jabong etc. With its website platform and Android app, anyone can save money and time in order to avoid searching for discount from different websites. In day to day life, there are various things to do online like, Travel deals, Food Ordering, buying books online, doing recharges and much more. Sallitor makes all these activities single platform friendly by providing various Online Coupons realted to flight,Bus,e-coomerce,food,movies offers and Rewards available with all comparsions options on Sallitor.
         </p>
         <!--<a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
   </div>
</section>

<section class="culture-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
   <div class="container">
      <div class="container text-center">
         <h2>
            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            Meet The Team
         </h2>
         
      </div>
      <div>
        <!--
         <table>
            <tr>
               <th>
      <img src="/static/img/bg-img/1.png"  style="height: 200px;width:200px">
        <h4 style="color:white">Pashupati Nath Verma</h4>
        <p class="title" style="color:white">CEO & Founder</p>
        <p style="color:white">Some text that describes me lorem ipsum ipsum lorem.</p>
        <p style="color:white">example@example.com</p> 
     </th>
     <th>
      <img src="/static/img/bg-img/2.png"  style="height: 200px;width:200px">
        <h4 style="color:white">Anshuman Singh</h4>
        <p class="title" style="color:white">CEO & Founde</p>
        <p style="color:white">Some text that describes me lorem ipsum ipsum lorem.</p>
        <p style="color:white">example@example.com</p>
     </th>
     <th>
      <img src="/static/img/bg-img/3.png" style="height: 200px;width:200px">
        <h4 style="color:white">Thyagaraju Muniraju</h4>
        <p class="title" style="color:white">CEO & Founde</p>
        <p style="color:white">Some text that describes me lorem ipsum ipsum lorem.</p>
        <p style="color:white">example@example.com</p>
    </th>
    <th>
      <img src="/static/img/bg-img/4.png" style="height: 200px;width:200px">
        <h4 style="color:white">Ravindra Jonwal</h4>
        <p class="title" style="color:white">CEO & Founde</p>
        <p style="color:white">Some text that describes me lorem ipsum ipsum lorem.</p>
        <p style="color:white">example@example.com</p>
     </th>
     </tr>
     </table>
-->
    </div>
</div>
</section>

<section class="customers-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
<div class="container">
   <div class="container text-center">
      <h2>
         CONTACT US
      </h2>
      <div class="containercontact">  
  <form id="contact" action="" method="post">
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit">Submit</button>
    </fieldset>
  </form>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/static/contact.js"></script>
</section>

<hr>


</body>
