<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="/static/style.css" rel="stylesheet">
    <style>
    .button1 {
  background-color: orange;
  border: none;
  color: black;
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10 px;
  margin: 4px 2px;
  cursor: pointer;
}
.button {
    border: 1px dashed #017959;
    background-color: white;
  color: white;
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10 px;
  margin: 4px 2px;
  cursor: pointer;
    
}

.fl {
        background-color: grey;
        color: white;
        margin: 30px;
        padding:20px;
        width:1000px;
        height: 10px;
    }
  
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  bottom: -40px;
  z-index: 99999;
}

.dropup-content a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block;
  margin-top: 0;
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
}



* {
  padding: 0;
  margin: 0;
}

.menu-wrapper {
  position: relative;
  max-width: 900px;
  height: 40px; // hide the scroll bar
  
  z-index: 999999;
}

.menu {
  height: 120px; // hide the scroll bar
  background: #f3f3f3;
 
  white-space: nowrap;
  overflow-x: hidden;
  
  -webkit-overflow-scrolling: touch;
}
.item {
    display: inline-block;
    width: 100px;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
  }
.paddles {
}
.paddle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2em;
}
.left-paddle {
  left: 0;
}
.right-paddle {
  right: 0;
}
.hidden {
  display: none;
}

.owl-theme .owl-dots .owl-dot span{
    
    background-color: #b71616;
  
}

.print {
  margin: auto;
  max-width: 500px;
  
span {
    display: inline-block;
    width: 100px;
  }
}  
</style>
</head>
<body style="background-color:#E6E6FA">
                                             
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button> -->
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        &emsp; <a class="navbar-brand" href="http://127.0.0.1:5000/"><span style="font-size: 30px;margin-left:20%">Salliter</span></a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
                      <!-- <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                      </li> -->

                      <!-- <li class="nav-item dropdown">
                            <a  class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href = "#">
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Categories
                                    <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown_target" >
                                    <a class = "dropdown-item" >Link 1</a>
                                    <div class="dropdown-divider"></div>
                                    <a class = "dropdown-item" >Link 2</a>
                                    <a class = "dropdown-item" >Link 3</a>
                            </div>
                      </li>      -->
                      <li class="nav-item active">
                            <a class="nav-link" href="index.html"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Cheapest Buses <span class="sr-only">(current)</span></a>
                         </li> 
                         <li class="nav-item active">
                            <a class="nav-link" href="index.html"> &emsp;Fastest Buses <span class="sr-only">(current)</span></a>
                         </li> 
                         
                         
                     <li class="nav-item active">
                        <a class="nav-link" href="#"> &emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;<span class="blinking">Refer and Earn</span> <span class="sr-only">(current)</span></a>
                     </li>  
                     
                     <li class="nav-item active">
                        <div class="dropdownmore">
                        <a class="nav-link" href="#"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;  <span style="color:white"> More+ </span><span class="sr-only">(current)</span></a>
                        <div class="dropdownmore-content">
                             <a href="#">Fashion</a>
                             <a href="#">Mobile</a>
                             <a href="#">Movies</a>
                        </div>
                      </div>
                     </li>

                     <li class="nav-item active">
                        <a class="nav-link" href="http://127.0.0.1:5000/about"> &emsp;&emsp;&emsp;  <span style="color:white">About Us</span> <span class="sr-only">(current)</span></a>
                     </li> 

                    </ul>
                    <!-- <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form> -->
                    

                    <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item active">
                                    <a class="nav-link" href="#">Sign up <span class="sr-only">(current)</span></a>
                                  </li>
                                  <li class="nav-item active">
                                        <a class="nav-link" href="#">Log in <span class="sr-only">(current)</span></a>
                                      </li>
                          </ul>
                  </div>

                
      </nav>
    

                    <div class="hero-search-form" style = "top:-80px; background-color:red" >
                        <!-- Tabs -->
                        <!--
                        <div class="nav nav-tabs" id="heroTab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-places-tab" data-toggle="tab" href="#nav-places" role="tab" aria-controls="nav-places" aria-selected="true">Flight</a>
                            <a class="nav-item nav-link active" id="nav-places-tab" data-toggle="tab" href="#nav-places" role="tab" aria-controls="nav-places" aria-selected="true">Bus</a>
                            <a class="nav-item nav-link active" id="nav-places-tab" data-toggle="tab" href="#nav-places" role="tab" aria-controls="nav-places" aria-selected="false">Cab</a>
                        </div> -->
                        <!-- Tabs Content -->
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
                                
                                <form action="#" method="post" id="form">
                                      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

                                        <!--<input type="text" id="num1" name="number1" placeholder="From">-->
                                        <select class="custom-select" id="num1">
                                        <option selected >From</option>
                                        <option value="1">BLR-Bangalore</option>
                                        <option value="2">ATQ-Amritsar</option>
                                        <option value="3">BHO-Bhopal</option>
                                        <option value="4">BBI-Bhubaneswar</option>
                                        <option value="5">MOM-Bombay</option>
                                        <option value="6">CCU-Calcutta</option>
                                        <option value="7">IXC-Chandigarh</option>
                                        <option value="8">DEL-Delhi</option>
                                        <option value="9">LKO-Lucknow</option>
                                        <option value="10">PNQ-Pune</option>

                                        </select>
                                        &nbsp
                                        <!--<input type="text" id="num2" name="number2" placeholder="To">-->
                                        <select class="custom-select" id="num2">
                                        <option selected>To</option>
                                        <option value="1">MNG-Mangalore</option>
                                        <option value="2">ATQ-Amritsar</option>
                                        <option value="3">BHO-Bhopal</option>
                                        <option value="4">BBI-Bhubaneswar</option>
                                        <option value="5">MOM-Bombay</option>
                                        <option value="6">CCU-Calcutta</option>
                                        <option value="7">IXC-Chandigarh</option>
                                        <option value="8">DEL-Delhi</option>
                                        <option value="9">LKO-Lucknow</option>
                                        <option value="10">PNQ-Pune</option>
                                        </select>
                                        
                                        &nbsp
                                        <input type="date" id="num3" value="2019-12-22">
                                        <!--<input type="text" id="num3" name="number3" placeholder="Date">-->
                                        &nbsp
                                    <button type="submit" class="btn dorne-btn" style="background-color:white;color:black"><i class="fa fa-search pr-2" aria-hidden="true"></i> Search Buses</button>
                                </form>
                                <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                                <script src="/static/bus_index.js"></script>
                                </script>
                            </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Hero Social Btn -->

    <div style="position:absolute; right:180px; top:200px;">
      <div class = "fl" >
        <span>&emsp;&emsp;SRC</span>
        <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Travel Time</span>
        <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;DST</span>
        <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Seats</span>
        <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Price</span>
      </div>
    </div>
    <br>
    <br>
	<div style="position:absolute; right:180px; top:250px">
   {% for i in de %}
        <div class = "flight">
        	<span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLyc50gxvv0Df60AEZmpXZcaCB3ZXqxerr78mqoYH9XSwUhOZX" style="width:30px;height:30px;">&emsp;{{i.bus}} </span>
          <span style="color:green">Available on RedBus</span>
        	<br>
        	<span><span style="color:black">BLR</span> &emsp; <span style="color:black">{{i.depart_time}}</span>
        	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span style="color:black">{{i.travel_time}}</span>
        	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        	<span><span style="color:black">MAN </span>&emsp; <span style="color:black">{{i.arrival_time}}</span>
        	&emsp;&emsp;&emsp;&emsp;
          <span>&emsp; <span style="color:black">{{i.no_seats}}</span>
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        	<span style="color:black">&#8377;&emsp;{{i.price}}</span>
        	&emsp;&emsp;&emsp;&emsp;&emsp;
        	<a class="button1" href="https://www.redbus.in/bus-tickets/"><span style="color:black">BOOK</span></a>
        	<br>
        	<div class="menu-wrapper">
            <ul class="menu">
          &emsp;
          <li class="item"><div class="dropup"><span>&emsp;<span class="button" style="color:black" >{{i.coupon_code[0]}}</span><div class="dropup-content">
    
           <div><span style="color:black">Save 90<br>75% discount</span></div>
           </div></div></li>
          &emsp;
          <li class="item"><div class="dropup"><span class="button" style="color:black" >{{i.coupon_code[1]}} </span><div class="dropup-content">
            <div><span style="color:black">Save 90<br>75% discount</span></div>
           </div></div></li>
          &emsp;
          <li class="item"><div class="dropup"><span class="button" style="color:black" >{{i.coupon_code[2]}}</span> <div class="dropup-content">
            <div><span style="color:black">Save 90<br>75% discount</span></div>
           </div></div></li>
            &emsp; 
            <li class="item"><div class="dropup"><span class="button" style="color:black" >{{i.coupon_code[1]}} </span><div class="dropup-content">
              <div><span style="color:black">Save 90<br>75% discount</span></div>
           </div></div></li>
              &emsp;
            <li class="item"><div class="dropup"><span class="button" style="color:black" >{{i.coupon_code[1]}} </span> <div class="dropup-content">
                 <div><span style="color:black">Save 90<br>75% discount</span></div>
           </div></div></li>
                &emsp;
           <li class="item"><div class="dropup"><span class="button" style="color:black" >{{i.coupon_code[1]}} </span> <div class="dropup-content">
                  <div><span style="color:black">Save 90<br>75% discount</span></div>
           </div></div></li>
                  &emsp;
            <li class="item"><div class="dropup"><span class="button" style="color:black" >{{i.coupon_code[1]}} </span></span><div class="dropup-content">
                    <div><span style="color:black">Save 90<br>75% discount</span></div>
           </div></div></li>
           <li class="item"><div class="dropup"><span class="button" style="color:black" >{{i.coupon_code[1]}} </span></span><div class="dropup-content">
                    <div><span style="color:black">Save 90<br>75% discount</span></div>
           </div></div></li>
           <li class="item"><div class="dropup"><span class="button" style="color:black" >{{i.coupon_code[1]}} </span></span><div class="dropup-content">
                    <div><span style="color:black">Save 90<br>75% discount</span></div>
           </div></div></li>
           <li class="item"><div class="dropup"><span class="button" style="color:black" >{{i.coupon_code[1]}} </span></span><div class="dropup-content">
                    <div><span style="color:black">Save 90<br>75% discount</span></div>
           </div></div></li>
           <li class="item"><div class="dropup"><span class="button" style="color:black" >{{i.coupon_code[1]}} </span></span><div class="dropup-content">
                    <div><span style="color:black">Save 90<br>75% discount</span></div>
           </div></div></li>
           <li class="item"><div class="dropup"><span class="button" style="color:black" >{{i.coupon_code[1]}} </span></span><div class="dropup-content">
                    <div><span style="color:black">Save 90<br>75% discount</span></div>
           </div></div></li>
           <li class="item"><div class="dropup"><span class="button" style="color:black" >{{i.coupon_code[1]}} </span></span><div class="dropup-content">
                    <div><span style="color:black">Save 90<br>75% discount</span></div>
           </div></div></li>
           &emsp;&emsp;
            </ul>
            <div class="paddles">
              <button class="left-paddle paddle hidden">
            <
           </button>
             <button class="right-paddle paddle">
            >
         </button>
        </div>
          <br>
</div>
        </div>
        <br> 
        <br>   
   {% endfor %}  
</div>
<script>
var scrollDuration = 300;
// paddles
var leftPaddle = document.getElementsByClassName('left-paddle');
var rightPaddle = document.getElementsByClassName('right-paddle');
// get items dimensions
var itemsLength = $('.item').length;
var itemSize = $('.item').outerWidth(true);
// get some relevant size for the paddle triggering point
var paddleMargin = 20;

// get wrapper width
var getMenuWrapperSize = function() {
  return $('.menu-wrapper').outerWidth();
}
var menuWrapperSize = getMenuWrapperSize();
// the wrapper is responsive
$(window).on('resize', function() {
  menuWrapperSize = getMenuWrapperSize();
});
// size of the visible part of the menu is equal as the wrapper size 
var menuVisibleSize = menuWrapperSize;

// get total width of all menu items
var getMenuSize = function() {
  return itemsLength * itemSize;
};
var menuSize = getMenuSize();
// get how much of menu is invisible
var menuInvisibleSize = menuSize - menuWrapperSize;

// get how much have we scrolled to the left
var getMenuPosition = function() {
  return $('.menu').scrollLeft();
};

// finally, what happens when we are actually scrolling the menu
$('.menu').on('scroll', function() {

  // get how much of menu is invisible
  menuInvisibleSize = menuSize - menuWrapperSize;
  // get how much have we scrolled so far
  var menuPosition = getMenuPosition();

  var menuEndOffset = menuInvisibleSize - paddleMargin;

  // show & hide the paddles 
  // depending on scroll position
  if (menuPosition <= paddleMargin) {
    $(leftPaddle).addClass('hidden');
    $(rightPaddle).removeClass('hidden');
  } else if (menuPosition < menuEndOffset) {
    // show both paddles in the middle
    $(leftPaddle).removeClass('hidden');
    $(rightPaddle).removeClass('hidden');
  } else if (menuPosition >= menuEndOffset) {
    $(leftPaddle).removeClass('hidden');
    $(rightPaddle).addClass('hidden');
}

  // print important values
  $('#print-wrapper-size span').text(menuWrapperSize);
  $('#print-menu-size span').text(menuSize);
  $('#print-menu-invisible-size span').text(menuInvisibleSize);
  $('#print-menu-position span').text(menuPosition);

});

// scroll to left
$(rightPaddle).on('click', function() {
  $('.menu').animate( { scrollLeft: menuInvisibleSize}, scrollDuration);
});

// scroll to right
$(leftPaddle).on('click', function() {
  $('.menu').animate( { scrollLeft: '0' }, scrollDuration);
});
          </script>

</body>